<div class="row">
    <div class="col-md-5">
      <cms-document-list (selectedDocumentEvent)="selectedDocument = $event"></cms-document-list>
    <!--Add tag to load the DocumentListComponent here
    (selectedContactEvent)="selectedContact = $event">-->
    <!-- <cms-document-item></cms-document-item> -->
    </div>

  
  <div class="col-md-4">
    <cms-document-detail [document]="selectedDocument" *ngIf="selectedDocument"></cms-document-detail>
  <!--Add tag to load the DocumentDetailComponent here
  [contact]="selectedContact" *ngIf="selectedContact"-->
  </div>
  </div>