<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row pad-left-right">
                    <span class="title pull-right">
                        Messages
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <cms-message-item *ngFor="let message of messages" [message]="message"></cms-message-item>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <cms-message-edit (addMessageEvent)="addMessageEvent($event)"></cms-message-edit> <!--HELP-->
                <!-- <cms-message-edit (click)="onAddMessage('1', 'Subject 1', 'Message Text 1', 'Ali Tykhomyrova')"></cms-message-edit> HELP -->
             </div>
        </div>
    </div>
</div>

